<p class="center" *ngIf="error">Could not load education from the backend.</p>

<div class="center" *ngFor="let edu of eduDetails">
    <div class="card">
      <section class="w3-container w3-center w3-content" style="max-width:3000px">

        <mat-icon class="pos">shopping_bag</mat-icon>

        <h2 class="pos">{{edu.degree}}</h2>
        <h3 class="pos" *ngIf="edu.grades">{{edu.grades}}</h3>
        <p class="pos">{{edu.university}}</p>
        <p class="pos">{{edu.yearOfCompletion}}</p>
      </section>
    </div>
</div>
