<p class="center" *ngIf="error">Could not load data from the backend.</p>

<div class="center fade-in-up" *ngFor="let exp of expDetails; let i = index" [style.animation-delay.ms]="i * 150">
    <div class="card">
      <section class="w3-container w3-center w3-content" style="max-width:3000px">
        <mat-icon class="pos">work</mat-icon>
        <h2 class="pos">Work Profile</h2>
        <h3 class="pos">{{exp.position}}</h3>
        <h4 class="pos">{{exp.location}}</h4>
        <p class="pos">{{exp.company}}<span *ngIf="exp.client"> - {{exp.client}}</span></p>
        <p class="pos">{{exp.year}}</p>
        <ul class="bullets">
          <li *ngFor="let point of bulletsOf(exp.description)">{{ point }}</li>
        </ul>
      </section>
    </div>
</div>

<div class="center" *ngIf="certDetails.length > 0">
  <div class="card">
    <section class="w3-container w3-center w3-content" style="max-width:3000px">
      <mat-icon class="pos">analytics</mat-icon>
      <h2 class="pos">Certifications</h2>
      <li *ngFor="let item of certDetails; let i = index" class="fade-in-up" [style.animation-delay.ms]="i * 120">
        <p class="pos">{{item.name}}</p>
        <p class="pos">{{item.completedOn}}</p>
     </li>
    </section>
  </div>
</div>
